@media screen and (max-width: 499px) {}

@media screen and (min-width: 500px) and (max-width: 767px) {}

@media screen and (min-width: 768px) and (max-width: 991px) {}

@media screen and (min-width: 992px) and (max-width: 1199px) {}

@media screen and (min-width: 1200px) {}
