/* Colors */
$bg: #0D4A61;
$news-bg: #42A6E0;
$font-color: lighten(#000, 10%);
$btn-bg-green: #05D048;
$btn-bg-red: #F74349;

/* Fonts */
$b-b: 'Golos-Text_Bold';
$b-r: 'Golos-Text_Regular';

/* Settings */
$border-radius: 20px;
