@font-face {
  font-family: 'BebasNeue-Bold';
  src: url(/public/fonts/BebasNeue-Bold.ttf);
}

@font-face {
  font-family: 'BebasNeue-Regular';
  src: url(/public/fonts/BebasNeue-Regular.ttf);
}

/* Colors */
/* Fonts */
/* Settings */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

a,
a:active,
a:visited {
  color: #000;
  text-decoration: underline;
}

button:focus,
button:active,
input,
input:focus,
input:active {
  outline: none;
}

body {
  background: #0D4A61;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  padding: 10px 25px;
  border: none;
  border-radius: 15px;
  font-family: "BebasNeue-Regular";
  font-size: 18px;
  color: #fff;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.btn:hover {
  cursor: pointer;
}

.news {
  width: 60vw;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__header {
  width: 100%;
  padding: 25px;
  margin-bottom: 15px;
  border-radius: 20px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__filter {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__filter-title {
  font-family: "BebasNeue-Bold";
  margin-right: 5px;
}

.news__filter-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__filter-btn:hover {
  cursor: pointer;
}

.news__filter-value {
  font-family: "BebasNeue-Regular";
  margin-right: 5px;
}

.news__filter-icon {
  width: 10px;
  height: 10px;
}

.news__btn {
  background: #05D048;
}

.news__btn:hover {
  background: #049e37;
}

.news__item {
  width: 100%;
  height: 300px;
  margin: 15px 0;
  padding: 25px;
  border-radius: 20px;
  background: #42A6E0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__img {
  height: 250px;
  width: 250px;
  border-radius: 20px;
  margin-right: 50px;
}

.news__text {
  width: 100%;
  height: 100%;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  border-radius: 20px;
}

.news__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__title {
  font-family: "BebasNeue-Bold";
  font-size: 28px;
  margin-bottom: 15px;
}

.news__description {
  font-family: "BebasNeue-Regular";
  font-size: 22px;
}

.news__date {
  font-family: "BebasNeue-Bold";
  font-size: 18px;
}

.news__link {
  font-family: "BebasNeue-Regular";
  font-size: 18px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.news__link:hover {
  color: #42A6E0;
}

.error {
  width: 60vw;
  height: 85vh;
  background: #fff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.error__title {
  font-family: "BebasNeue-Bold";
  font-size: 150px;
  margin-bottom: 25px;
}

.error__description {
  font-family: "BebasNeue-Regular";
  font-size: 18px;
  margin-bottom: 15px;
}

.error__link {
  color: #42A6E0 !important;
}

.add {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.edit {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form {
  width: 30vw;
  background: #42A6E0;
  border-radius: 20px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__title {
  font-family: "BebasNeue-Bold";
  font-size: 32px;
  color: #fff;
  margin-bottom: 50px;
}

.form__input {
  margin-bottom: 15px;
  font-family: "BebasNeue-Regular";
  font-size: 18px;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
}

.form__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.form__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form__file-label {
  font-family: "BebasNeue-Regular";
  font-size: 18px;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  background: #fff;
}

.form__file-label:hover {
  cursor: pointer;
}

.form__btn-pos {
  margin-left: 15px;
  background: #05D048;
}

.form__btn-pos:hover {
  background: #049e37;
}

.form__btn-neg {
  background: #F74349;
}

.form__btn-neg:hover {
  background: #f5121a;
}
/*# sourceMappingURL=main.css.map */