@import "fonts";
@import "variables";
@import "media";

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

a,
a:active,
a:visited {
  color: #000;
  text-decoration: underline;
}

button:focus,
button:active,
input,
input:focus,
input:active {
  outline: none;
}

body {
  background: $bg;
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px 25px;
  border: none;
  border-radius: 15px;
  font-family: $b-r;
  font-size: 18px;
  color: #fff;
  transition: .3s ease;

  &:hover {
    cursor: pointer;
  }
}

.news {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  
  &__header {
    width: 100%;
    padding: 25px;
    margin-bottom: 15px;
    border-radius: $border-radius;
    background: #fff;
  }
  
  &__filter {
    font-size: 18px;
    
    &-title {
      font-family: $b-b;
      margin-right: 5px;
    }
    
    &-btn {
      display: flex;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
    }
    
    &-value {
      font-family: $b-r;
      margin-right: 5px;
    }
    
    &-icon {
      width: 16px;
      height: 16px;
      
      &_active {
        transform: rotate(180deg);
      }
    }
  }
  
  &__btn {
    background: $btn-bg-green;
    &:hover {
      background: darken($btn-bg-green, 10%);
    }
  }
  
  &__item {
    width: 100%;
    min-height: 300px;
    margin: 15px 0;
    padding: 25px;
    border-radius: $border-radius;
    background: $news-bg;
    
    &-footer {
      margin-top: 15px;
    }
  }
  
  &__img {
    border-radius: $border-radius;
    object-fit: cover;
    object-position: center;
  }
  
  &__text {
    width: 100%;
    height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    border-radius: $border-radius;
  }
  
  &__desc {
    display: flex;
    flex-direction: column;
  }
  
  &__title {
    font-family: $b-b;
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  &__description {
    font-family: $b-r;
    font-size: 16px;
  }
  
  &__date {
    font-family: $b-b;
    font-size: 16px;
    padding: 5px 15px;
    background: darken(#fff, 5%);
    border-radius: $border-radius;
    &_light {
      color: darken(#fff, 40%);
    }
  }
  
  &__link {
    font-family: $b-r;
    font-size: 18px;
    transition: .3s ease;
    &:hover {
      color: $news-bg;
    }
  }
  
  &__paginate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  
  &__page-btn {
    padding: 15px 25px;
    background: $news-bg;
    color: #000;
    border-radius: $border-radius;
    font-family: $b-r;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: .3s ease;
    margin: 0 5px;
    
    &:hover {
      background: darken($news-bg, 10%);
      cursor: pointer;
    }
  }
  
}

.error {
  height: 60vh;
  background: #fff;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  
  &__title {
    font-family: $b-b;
    font-size: 150px;
    margin-bottom: 25px;
  }
  
  &__description {
    font-family: $b-r;
    font-size: 18px;
    margin-bottom: 15px;
    width: 60%;
    text-align: center;
  }
  
  &__link {
    color: $news-bg !important;
  }
}

.add {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  background: $news-bg;
  border-radius: $border-radius;
  padding: 25px;
  display: flex;
  flex-direction: column;
  
  &__title {
    font-family: $b-b;
    font-size: 32px;
    color: #fff;
    margin-bottom: 50px;
  }
  
  &__input {
    margin-bottom: 15px;
    font-family: $b-r;
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    
    &:focus{
      outline: none;
    }
    
    &_area {
      height: 200px;
    }
  }
  
  &__choose {
    display: flex;
    margin-bottom: 15px;
  }
  
  &__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  &__file-label {
    font-family: $b-r;
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    background: #fff;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      cursor: pointer;
    }
  }
  
  &__image {
    width: 150px;
    height: 150px;
    border-radius: $border-radius;
    margin-bottom: 50px;
    
    &_disable {
      display: none;
    }
  }
  
  &__btn-pos {
    margin-left: 15px;
    background: $btn-bg-green;
    &:hover {
      background: darken($btn-bg-green, 10%);
    }
  }
  
  &__btn-neg {
    background: $btn-bg-red;
    &:hover {
      background: darken($btn-bg-red, 10%);
    }
  }
}

.modal {
  padding: 25px;
  border-radius: $border-radius;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  font-family: $b-r;
  font-size: 18px;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(13, 74, 97, 0.2);
  -moz-box-shadow: 0px 0px 10px 5px rgba(13, 74, 97, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(13, 74, 97, 0.2);
  opacity: 0;
  
  &__btn {
    margin: 5px 0;
    &:hover {
      cursor: pointer;
      font-family: $b-b;
    }
    &_active {
      font-family: $b-b;
    }
  }
  
  &_disable {
    display: none;
  }
  
  &_visible {
    opacity: 100;
  }
}
