@import "fonts";
@import "variables";
@import "media";

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

a,
a:active,
a:visited {
  color: #000;
  text-decoration: underline;
}

button:focus,
button:active,
input,
input:focus,
input:active {
  outline: none;
}

body {
  background: $bg;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.news {
  width: 60vw;
  display: flex;
  flex-direction: column;
  
  &__header {
    width: 100%;
    padding: 25px;
    margin-bottom: 15px;
    border-radius: $border-radius;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__filter {
    font-size: 18px;
    display: flex;
    
    &-title {
      font-family: $b-b;
      margin-right: 5px;
    }
    
    &-btn {
      display: flex;
      &:hover {
        cursor: pointer;
      }
    }
    
    &-value {
      font-family: $b-r;
      margin-right: 5px;
    }
    
    &-icon {
      width: 10px;
      height: 10px;
    }
  }
  
  &__btn {
    padding: 10px 25px;
    border: none;
    border-radius: $border-radius;
    font-family: $b-r;
    font-size: 18px;
    background: $btn-bg;
    color: #fff;
    transition: .3s ease;
    &:hover {
      cursor: pointer;
      background: darken($btn-bg, 10%);
    }
  }
  
  &__item {
    width: 100%;
    height: 300px;
    margin: 15px 0;
    padding: 25px;
    border-radius: $border-radius;
    background: $news-bg;
    display: flex;
    
    &-footer {
      display: flex;
      justify-content: space-between;
    }
  }
  
  &__img {
    height: 250px;
    width: 250px;
    border-radius: $border-radius;
    margin-right: 50px;
  }
  
  &__text {
    width: 100%;
    height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    border-radius: $border-radius;
  }
  
  &__desc {
    display: flex;
    flex-direction: column;
  }
  
  &__title {
    font-family: $b-b;
    font-size: 28px;
    margin-bottom: 15px;
  }
  
  &__description {
    font-family: $b-r;
    font-size: 22px;
  }
  
  &__date {
    font-family: $b-b;
    font-size: 18px;
  }
  
  &__link {
    font-family: $b-r;
    font-size: 18px;
  }
}
